---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen bg-neutral-950 text-neutral-50 grid place-items-center font-sans">
		<main class="rounded-xl border border-neutral-800 bg-neutral-900 px-8 py-6 shadow-xl">
			<p class="mb-2 text-sm text-neutral-400">Kira Notes</p>
			<h1 class="text-4xl font-700 tracking-tight">Astro + Vue + UnoCSS</h1>
		</main>
	</body>
</html>
